body {
    font-family: 'sans-serif', Arial;
}

.lineup {
    display: block;
    margin-right: 43%;
    margin-left: 43%;
}

h1 {
    text-align: center;
    font-weight: 3.4;
}

p {
    margin-left: 37%;
}